.card-header{
    margin: 5px;
}
.card-title{
    padding: 10px 5px 10px 5px;
}
.card-content {
    padding: 5px;
}
.btn-left{
    float: left;
    color: #FFF;
}
.btn-right{
    float: right;
    color: #FFF;
}
.footer{
    padding-left: 15px;
    padding-right: 15px;
}
