<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Equipments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>

  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
    </ion-card-content> -->
  </ion-card>
  
</ion-content>
