<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{equipments[0]?.department_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)="gotoSensors(equip.id)" *ngFor="let equip of equipments">
      <ion-label>{{equip.name}}</ion-label>
      <ion-badge slot="end">{{equip.sensors_count}}</ion-badge>
    </ion-item>
  </ion-list>

  <!-- <ion-card color="medium" (click)="gotoSensors(equip.id)" *ngFor="let equip of equipments">
    <ion-card-header>
      <ion-card-title>
        {{equip.name}}
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">{{equip.sensors_count}}</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->


  <!-- <ion-card color="medium" [routerLink]="['/dashboard/sensors/1/data']">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card color="medium" [routerLink]="['/dashboard/sensors/1/data']">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card color="medium" [routerLink]="['/dashboard/sensors/1/data']">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <ion-card color="medium" [routerLink]="['/dashboard/sensors/1/data']">
    <ion-card-header>
      <ion-card-title>
        3D-1A-GIW100-400
      </ion-card-title>
      <ion-card-subtitle>
        <ion-badge color="warning">11</ion-badge>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card> -->

</ion-content>
