<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-card *ngFor="let sensor of sensors; let index">
  <ion-card-content>
    <!-- <app-column-chart [title]="sensor.chart_details.sensor[0].equipment.name" [subtitle]="sensor.chart_details.sensor[0].measured_parameter_type_disp" [data]="sensor"></app-column-chart> -->
    <!-- <app-semi-circle-chart [title]="sensor.chart_details.sensor[0].equipment.name" [subtitle]="sensor.chart_details.sensor[0].measured_parameter_type_disp" [data]="sensor"></app-semi-circle-chart> -->
    <!-- {{sensor.chart_details.sensor[0].equipment.name}} -->
    <app-line-chart [title]="sensor.chart_details.sensor[0].equipment.name" [subtitle]="sensor.chart_details.sensor[0].measured_parameter_type_disp" [data]="sensor"></app-line-chart>
  </ion-card-content>
</ion-card>


</ion-content>