<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Departments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-item-sliding *ngFor="let dept of departments">
    <ion-item>
      <ion-label>{{dept.name}}</ion-label>
    </ion-item>

    <ion-item-options>
      <ion-item-option color="secondary" (click)="gotoChart(dept)"> Charts</ion-item-option>
      <ion-item-option color="medium" (click)="gotoEquipments(dept.id)">Equipments</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
  <!-- <ion-card color="medium" (click)="gotoEquipments(dept.id)" *ngFor="let dept of departments">
    <ion-card-header>
      <ion-card-title>
        {{dept.name}}
      </ion-card-title>
    </ion-card-header>
  </ion-card> -->
<!--
  <ion-card color="medium" [routerLink]="['/dashboard/equipments/1']" (click)="gotoEquipments(2)">
    <ion-card-header>
      <ion-card-title>
        Mixed Liquor Section
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="medium" [routerLink]="['/dashboard/equipments/1']" (click)="gotoEquipments(3)">
    <ion-card-header>
      <ion-card-title>
        Booster Pump Section
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="medium" [routerLink]="['/dashboard/equipments/1']" (click)="gotoEquipments(4)">
    <ion-card-header>
      <ion-card-title>
        Energy Dashboard
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card color="medium" [routerLink]="['/dashboard/equipments/1']" (click)="gotoEquipments(5)">
    <ion-card-header>
      <ion-card-title>
        Electrical Distribution
      </ion-card-title>
    </ion-card-header>
  </ion-card> -->

</ion-content>
