<!-- <div #loader></div> -->
<apx-chart #chartDiv
  [series]="chartOptions?.series!"
  [chart]="chartOptions?.chart!"
  [xaxis]="chartOptions?.xaxis!"
  [dataLabels]="chartOptions?.dataLabels!"
  [grid]="chartOptions?.grid!"
  [stroke]="chartOptions?.stroke!"
  [title]="chartOptions?.title!"
  [subtitle]="chartOptions?.subtitle!"
></apx-chart>
<div class="pull-right">
  <ion-button size="small" [fill]="ageType == 'live' ? 'solid' : 'outline'" (click)="getSensorDataByAgeing('live')">Live</ion-button>
  <ion-button size="small" [fill]="ageType == 'hour' ? 'solid' : 'outline'" (click)="getSensorDataByAgeing('hour')">H</ion-button>
  <ion-button size="small" [fill]="ageType == 'day' ? 'solid' : 'outline'" (click)="getSensorDataByAgeing('day')">D</ion-button>
  <ion-button size="small" [fill]="ageType == 'week' ? 'solid' : 'outline'" (click)="getSensorDataByAgeing('week')">W</ion-button>
  <ion-button size="small" [fill]="ageType == 'month' ? 'solid' : 'outline'" (click)="getSensorDataByAgeing('month')">M</ion-button>
  <!-- <ion-button size="small" [fill]="ageType == 'halfYear' ? 'solid' : 'outline'" (click)="getSensorDataByAgeing('halfYear')">HF</ion-button> -->
</div>